## Imports

In [2]:
import numpy as np
import pandas as pd
from lxml import etree
import re
import json

## Lecture du fichier csv

In [5]:
df = pd.read_csv("DATA/forms.csv", sep=",", encoding="utf-8")

In [6]:
df.head(10)

,ID,Local_ID,Language_ID,Parameter_ID,Value,Form,Segments,Comment,Source,Cognacy,Loan,Graphemes,Profile
0,pch-1-1,NaN,pch,1,*hú•ri-,*hú•ri-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cr-1-1,NaN,cr,1,húuli-,húuli-,NaN,NaN,dec[38],NaN,NaN,NaN,NaN
2,hi-1-1,NaN,hi,1,hú•riširu,hú•riširu,NaN,NaN,j,NaN,NaN,NaN,NaN
3,ma-1-1,NaN,ma,1,hóraʔke,hóraʔke,NaN,NaN,c,NaN,NaN,NaN,NaN
4,of-1-1,NaN,of,1,[†ó•wati],[†ó•wati],NaN,NaN,ds[328];ssf,NaN,NaN,NaN,NaN
5,psi-2-1,NaN,psi,2,*sitó• (?),*sitó•,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ca-2-1,NaN,ca,2,sųdá•,sųdá•,NaN,NaN,ks;g,NaN,NaN,NaN,NaN
7,pdh-2-1,NaN,pdh,2,*sitóti,*sitóti,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ch-2-1,NaN,ch,2,θʔída,θʔída,NaN,NaN,jgt[69],NaN,NaN,NaN,NaN
9,op-2-1,NaN,op,2,çidadi,çidadi,NaN,NaN,sw[192],NaN,NaN,NaN,NaN

## Conversion des NaN

In [7]:
df.fillna("", inplace=True)

## Transformation d'une colonne

In [8]:
df.ID = df.ID.str.upper()

In [9]:
df.head()

,ID,Local_ID,Language_ID,Parameter_ID,Value,Form,Segments,Comment,Source,Cognacy,Loan,Graphemes,Profile
0,PCH-1-1,,pch,1,*hú•ri-,*hú•ri-,,,,,,,
1,CR-1-1,,cr,1,húuli-,húuli-,,,dec[38],,,,
2,HI-1-1,,hi,1,hú•riširu,hú•riširu,,,j,,,,
3,MA-1-1,,ma,1,hóraʔke,hóraʔke,,,c,,,,
4,OF-1-1,,of,1,[†ó•wati],[†ó•wati],,,ds[328];ssf,,,,

In [ ]:
x = "Flomo\t-\tAPL"
x.replace("\t", "$").replace("[", "").replace("]", "").split("$")

x = "$sdfqsf.mljlkj"

# échappe la liste de caractères (ajoute de l'antislash)
for caractère in ["$", "^", ".", "*", "+", "-", "?"]:
    x = x.replace(caractère, f"\{caractère}")
print(x)

In [ ]:
x = "tāmen\ttōu\tzìxíngchē"
x = x.replace("\t","/")
x

In [ ]:
def coupeAuxTab(x):
    x =x.replace("\\t", "$").replace("[", "").replace("]", "").split("$")
    return set(x)

coupeAuxTab("Yoni\t3PL\tgo.IMPERF.3PL")

In [ ]:
toto = "oblig\tarrive\tthe\tchild"
coupeAuxTab(toto)

In [ ]:
coupeAuxTab(df["Analyzed_Word"][2])

In [ ]:
df["Gloss_m"] = df["Gloss"].apply(coupeAuxTab)

In [ ]:
df.head(20)

In [ ]:
df

## Filtre sur colonnes

In [ ]:
df = df[df.ID.str.contains("4") & df.Gloss.str.contains("PL")]

In [ ]:
df[df.Comment != ""]

## Sauvegarde du fichier

In [ ]:
df.to_csv("results/examples_out.tsv", index=False, encoding="utf-8", sep="\t")